---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}
        <span class="font-weight-bold">Escuela de Primavera en Deep Learning</span> <br>
        <div style="font-size: 1.2rem; font-weight: normal;">
          Aula Magna, Pabellón 1, Facultad de Ciencias Exactas y Naturales (UBA)
        </div>
      {%- else -%}
        {{ site.title }}
      {%- endif %}
    </h1>

    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

    <article>
  <div style="background-color: #e6f7e6; border: 1px solid #4CAF50; color: #2e7d32; 
              padding: 15px; margin: 20px 0; border-radius: 8px; text-align: center;">
    <a href="https://docs.google.com/spreadsheets/d/1_IvGCHBKvACtMuqs3tKsHzZ6eMtpKYO7FT0Xh9D9OAU/edit?usp=sharing" target="_blank" style="color: #1b5e20; text-decoration: underline;">
      Acá</a> podés consultar la asignación de los <strong>pósters</strong> junto con su 
    <strong>título</strong>, <strong>resumen</strong> y <strong>presentador/a</strong>: 
    
  </div>
  <div style="background-color: #ffffff; color: #000000; border: 1px solid #000000; padding: 1em; margin-top: 1em; border-radius: 0.5em; font-weight: bold; font-size: 1.2em; text-align: center;">
      Un evento dictado íntegramente en español.
    </div>
  
    <div class="clearfix">
      <p>
        
      <img src="/assets/img/ceroinf.jpg" style="width: 100%; height: auto; margin-bottom: 16px;">
      <p>
        La inscripción se encuentra cerrada. <strong>Los resultados de admisión y becas estarán disponibles en los primeros días de agosto. </strong>
      </p>
      <p>
        La <strong>1<sup>era</sup> Escuela de Primavera en Deep Learning</strong>, que se llevará a cabo del <strong>20 al 24 de octubre de 2025</strong> en el Instituto de Ciencias de la Computación (CONICET–UBA), con el apoyo del Departamento de Computación y la Facultad de Ciencias Exactas y Naturales de la Universidad de Buenos Aires.
      </p>

      <p>
        La escuela abordará una variedad de temas actuales y relevantes, entre ellos:
      </p>

      <ul>
        <li>Evaluación de sistemas de aprendizaje automático: partición de datos, métricas de evaluación, calibración e intervalos de confianza</li>
        <li>Procesamiento de lenguaje natural y grandes modelos de lenguaje</li>
        <li>Modelos de difusión</li>
        <li>Optimización</li>
        <li>Transporte óptimo</li>
        <li>Resolución de problemas inversos</li>
        <li>Neurociencia computacional</li>
        <li>Métodos para cuantificar la incertidumbre</li>
      </ul>

      <p>
        La escuela está dirigida a estudiantes de posgrado y de los últimos años de carreras afines a las matemáticas aplicadas, el aprendizaje automático y la ciencia de datos.
      </p>

      <p>
        Esta iniciativa cuenta con el financiamiento del programa <a href="https://www.icms.org.uk/funding-opportunities/mathematics-humanity">Mathematics for Humanity</a> del <a href="https://www.icms.org.uk/">ICMS</a> (Edimburgo, Reino Unido).
      </p>

      <p>
        La participación es con cupo limitado. Las personas inscriptas serán seleccionadas tras el cierre del período de inscripción, en función de sus antecedentes, motivación y potencial de aprovechamiento de la propuesta. La fecha límite para inscribirse es el <strong>30 de junio de 2025</strong>.
      </p>

      <p>
        Se ofrecerán becas completas para cubrir diversos tipos de gastos. La solicitud de becas se realiza mediante el mismo formulario de inscripción.
      </p>

    </div>


    <div class="speakers">
      <h2>Conferencistas confirmadxs</h2>
      <p class="card-text">
      </p>
      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/img/luciana.jpg">

            <div class="card-body">
              <h2 class="card-title">Luciana Ferrer</h2>
              <h6 class="card-text">Universidad de Buenos Aires - CONICET
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Métricas de evaluación de sistemas de clasificación: costo esperado, proper scoring rules y calibración"</span>
                <div class="affiliate">

                  <a href="https://scholar.google.com.ar/citations?user=s3CmNoEAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://liaa.dc.uba.ar/luciana-ferrer/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">

            <img src="/assets/img/victoria.jpg">

            <div class="card-body">
              <h2 class="card-title">Victoria Peterson</h2>
              <h6 class="card-text"> Universidad Nacional del Litoral - CONICET
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Optimización para aprendizaje automático"</span>
                <div class="affiliate">

                  <a href="https://scholar.google.com/citations?user=vCuSUEIAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://sites.google.com/view/victoria-peterson/home/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

          <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/jlezama.jpeg">
            <div class="card-body">
              <h2 class="card-title">José Lezama</h2>
              <h6 class="card-text">Google Deepmind
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Modelos de difusión para la generación de video"</span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=iDP84cQAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://jlezama.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">

            <img src="/assets/img/demian.jpg">

            <div class="card-body">
              <h2 class="card-title">Demian Wassermann</h2>
              <h6 class="card-text"> Inria Saclay Ile-de-France
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Un enfoque machine learning a la neurociencia"</span>
                <div class="affiliate">

                  <a href="https://scholar.google.fr/citations?hl=en&user=TX-vLhIAAAAJ" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://pages.saclay.inria.fr/demian.wassermann/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/mcuturi.jpeg">
            <div class="card-body">
              <h2 class="card-title">Marco Cuturi</h2>
              <h6 class="card-text">Apple ML Research
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Transporte Óptimo Computacional"</span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=kQEydDMAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://marcocuturi.net/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>


         <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/omar.png">

            <div class="card-body">
              <h2 class="card-title">Omar Florez</h2>
              <h6 class="card-text"> CENIA (National Center for AI, Chile)
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Pre-entrenamiento de grandes modelos de lenguaje"</span>
                <div class="affiliate">

                  <a href="https://scholar.google.com/citations?hl=en&user=4HGsUQIAAAAJ" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href= "https://www.linkedin.com/in/omar-u-florez/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/img/marcelo.jpg">

            <div class="card-body">
              <h2 class="card-title">Marcelo Pereyra</h2>
              <h6 class="card-text">Heriot-Watt University
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Cuantificación de incertidumbre en variables continuas"</span>
                <div class="affiliate">

                  <a href="https://scholar.google.co.uk/citations?user=ep85sxQAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://www.macs.hw.ac.uk/~mp71/index.html" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/img/julian.jpg">

            <div class="card-body">
              <h2 class="card-title">Julián Tachella</h2>
              <h6 class="card-text">ENS Lyon - CNRS
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Aprendizaje autosupervisado para problemas inversos"</span>
                <div class="affiliate">

                  <a href="https://scholar.google.fr/citations?user=u_hH-fUAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://tachella.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>




        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/aalmanza.jpeg">
            <div class="card-body">
              <h2 class="card-title">Andrés Almansa</h2>
              <h6 class="card-text">CNRS - Université Paris Descartes
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"Metodos Bayesianos y de aprendizaje para problemas inversos en procesamiento de imágenes"</span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=e1pFlV0AAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://helios2.mi.parisdescartes.fr/~aalmansa/HomePage/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/arjovsky.jpeg">
            <div class="card-body">
              <h2 class="card-title">Martin Arjovsky</h2>
              <h6 class="card-text">Google Deepmind
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;">"AI para descubrimiento de vulnerabilidades de ciberseguridad"</span>
                <div class="affiliate">
                  <a href="https://scholar.google.com.ar/citations?user=A6qfFPkAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>


    <div class="speakers">
      <h2>Organizadores</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/img/marcelo.jpg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Marcelo Pereyra
                    </h4>

                    <h6 class="card-text"> Heriot-Watt University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.co.uk/citations?user=ep85sxQAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.macs.hw.ac.uk/~mp71/index.html" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/julian.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Julián Tachella
                    </h4>

                    <h6 class="card-text">ENS Lyon - CNRS
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=u_hH-fUAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://tachella.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/enzo.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Enzo Ferrante
                    </h4>

                    <h6 class="card-text"> Universidad de Buenos Aires - CONICET
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=ArqlkTUAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://eferrante.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/img/pablo.png">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Pablo Musé
                    </h4>

                    <h6 class="card-text">Universidad de la República 
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=gBLQ5oIAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://iie.fing.edu.uy/~pmuse/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


            <div class="card-item col">
          <div class="card">
            <div class="row g-0">
              <div class="card-img col-md-6">

                <img src="/assets/img/lorena.jpg">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h4 class="card-title">Lorena León
                  </h4>

                  <h6 class="card-text"> Université Grenoble Alpes
                  </h6>

                  <div class="row ml-1 mr-1 p-0">
                     
                    <div class="website-icon">
                      <div class="icon" data-toggle="tooltip" title="Website">
                        <a href="https://lorena-leon.github.io/" title="Website" target="_blank"
                          rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
    <br>

      

    <div class="speakers">
      <h2>Coordinadores Locales</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/chechu.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Cecilia Bolaños</h4>
                    <h6 class="card-text">Universidad de Buenos Aires</h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Google Scholar">
                          <a href="https://scholar.google.com/citations?user=OXwzJWUAAAAJ&hl=en" title="Google Scholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/nico.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Nicolás Gaggion</h4>
                    <h6 class="card-text">Universidad de Buenos Aires</h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Google Scholar">
                          <a href="https://scholar.google.com/citations?user=CnwAbLMAAAAJ&hl=en" title="Google Scholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ngaggion.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          
          
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/sceriani.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Silvina Ceriani</h4>
                    <h6 class="card-text">Asistente de Organización</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <br>

    <h2>Sponsors</h2>
    <div style="clear: both;"></div> <!-- Esto fuerza que el contenido vaya abajo -->
    <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; margin-top: 2rem;">
        <a href="https://www.icms.org.uk/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/ICMS-logo.png" width="200px" alt="ICMS Logo">
        </a>
        <a href="https://machinelearning.apple.com/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/apple.jpeg" width="200px" alt="Apple Logo">
        </a>
        <a href="https://www.dc.uba.ar/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/logo-dc.png" width="200px" alt="Departamento de Computación UBA">
        </a>
          <a href="https://icc.fcen.uba.ar/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/logo-icc.png" width="200px" alt="Instituto de Ciencias de la Computación UBA-CONICET">
        </a>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 2rem; gap: 2rem;">
    
        <a href="https://www.hw.ac.uk/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/Heriot.png" width="200px" alt="Heriot-Watt University">
        </a>
        <a href="https://www.cnrs.fr/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/LOGO_CNRS_BLEU.png" width="150px" alt="CNRS">
        </a>
          <a href="https://inria.fr/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/inria.jpeg" width="200px" alt="CNRS">
        </a>
          </a>
          <a href="https://exactas.uba.ar/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/Uba_exactas_logo.png" width="200px" alt="Exactas UBA">
        </a>
        <a href="https://liaa.dc.uba.ar/es/inicio/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/liaa-logo.png" width="200px" alt="Exactas UBA">
        </a>
    </div>

        
    <br><br><br>


    <h3 class="post-title"><span class="font-weight-bold">Preguntas</span></h3>
    Escribinos a <a href="mailto:primavera.dl2025@gmail.com" target="_blank"> primavera.dl2025@gmail.com</a>.

  </article>

</div>
