---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}
      <span class="font-weight-bold">Escuela de Primavera en Deep Learning</span> <br>
      <div style="font-size: 1.2rem; font-weight: normal;">
        2da Edición — 9 al 13 de noviembre de 2026 -- Instituto de Ciencias de la Computación (UBA - CONICET)
      </div>
      {%- else -%}
      {{ site.title }}
      {%- endif %}
    </h1>

    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    <div
      style="background-color: #ffffff; color: #000000; border: 1px solid #000000; padding: 1em; margin-top: 1em; border-radius: 0.5em; font-weight: bold; font-size: 1.2em; text-align: center;">
      Un evento dictado íntegramente en español.
    </div>

    <div class="clearfix">
      <p>
        <img src="/assets/img/ceroinf.jpg" style="width: 100%; height: auto; margin-bottom: 16px;">

      <p>
        La <strong>2<sup>da</sup> Escuela de Primavera en Deep Learning</strong>, que se llevará a cabo del <strong>9 al
          13 de noviembre de 2026</strong> en el Instituto de Ciencias de la Computación (CONICET–UBA), con el apoyo del
        Departamento de Computación y la Facultad de Ciencias Exactas y Naturales de la Universidad de Buenos Aires.
      </p>

      <p>
        La escuela abordará una variedad de temas actuales y relevantes, entre ellos:
      </p>

      <ul>
        <li>Procesamiento del Lenguaje Natural y Grandes Modelos de Lenguaje</li>
        <li>IA Confiable y Sociedad</li>
        <li>IA Generativa</li>
        <li>Optimización</li>
        <li>Neurociencia Computacional e IA</li>
        <li>Agentes de IA</li>
        <li>Aprendizaje Estadístico</li>
        <li>Interpretabilidad Mecanística</li>
        <li>Aprendizaje con Grafos</li>

      </ul>

      <p>
        La escuela está dirigida a estudiantes de posgrado y de los últimos años de carreras afines a las ciencias de la
        computación, matemáticas aplicadas, el aprendizaje automático y la ciencia de datos. Dado que se trata de cursos
        avanzados, se requiere una base de aprendizaje automático y redes neuronales.
      </p>

      <p>
        Esta iniciativa cuenta con el financiamiento del programa <a
          href="https://www.icms.org.uk/funding-opportunities/mathematics-humanity">Mathematics for Humanity</a> del <a
          href="https://www.icms.org.uk/">ICMS</a> (Edimburgo, Reino Unido).
      </p>

      <p>
        La participación es con cupo limitado. Las personas inscriptas serán seleccionadas tras el cierre del período de
        inscripción, en función de sus antecedentes, motivación y potencial de aprovechamiento de la propuesta. La fecha
        límite para inscribirse es el <strong>30 de junio de 2026</strong>.
      </p>

      <p>
        Se ofrecerán becas completas para cubrir diversos tipos de gastos. La solicitud de becas se realiza mediante el
        mismo formulario de inscripción.
      </p>

    </div>


    <div class="speakers">
      <h2>Conferencistas Confirmados</h2>
      <p class="card-text"></p>
      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/micelli.png">
            <div class="card-body">
              <h2 class="card-title">Milagros Micelli</h2>
              <h6 class="card-text">DAIR Institute
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=jQGD4BcAAAAJ&hl=en" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://milamiceli.com/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/kreiman.jpeg">
            <div class="card-body">
              <h2 class="card-title">Gabriel Kreiman</h2>
              <h6 class="card-text"> Harvard Medical School y Engramme
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=WxZ_6nsAAAAJ&hl=en" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://brain.harvard.edu/?people=gabriel-kreiman" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                </div>
              </h6>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/delcorro.jpeg">
            <div class="card-body">
              <h2 class="card-title">Luciano Del Corro</h2>
              <h6 class="card-text"> Universidad de San Andrés
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=vJfDxrIAAAAJ&hl=en" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                </div>
              </h6>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/sulam.webp">
            <div class="card-body">
              <h2 class="card-title">Jeremias Sulam</h2>
              <h6 class="card-text">Johns Hopkins University
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=1awx1aIAAAAJ&hl=es" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                </div>
              </h6>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/tobar.jpg">
            <div class="card-body">
              <h2 class="card-title">Felipe Tobar</h2>
              <h6 class="card-text">Imperial College London
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=5XHRNwYAAAAJ&hl=en" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                </div>
              </h6>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/cintas.jpeg">
            <div class="card-body">
              <h2 class="card-title">Celia Cintas</h2>
              <h6 class="card-text">IBM Research - Africa
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=7C8_pL4AAAAJ&hl=en" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://celiacintas.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>

              </h6>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/gonzalo.jpg">
            <div class="card-body">
              <h2 class="card-title">Gonzalo Mateos</h2>
              <h6 class="card-text">University of Rochester
                <br>
                <span style="font-style: italic; display: block; margin-top: 0.5rem;"></span>
                <div class="affiliate">
                  <a href="https://scholar.google.com/citations?user=4QAOifUAAAAJ&hl=en" title="GoogleScholar"
                    target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                  <a href="https://www.hajim.rochester.edu/ece/sites/gmateos" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                </div>

              </h6>
            </div>
          </div>
        </div>


      </div>
    </div>
    <br>


    <div class="speakers">
      <h2>Organizadores</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/marcelo.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Marcelo Pereyra
                    </h4>

                    <h6 class="card-text"> Heriot-Watt University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.co.uk/citations?user=ep85sxQAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>



                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.macs.hw.ac.uk/~mp71/index.html" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/julian.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Julián Tachella
                    </h4>

                    <h6 class="card-text">ENS Lyon - CNRS
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=u_hH-fUAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>



                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://tachella.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/enzo.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Enzo Ferrante
                    </h4>

                    <h6 class="card-text"> Universidad de Buenos Aires - CONICET
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=ArqlkTUAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>



                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://eferrante.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/img/pablo.png">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Pablo Musé
                    </h4>

                    <h6 class="card-text">Universidad de la República & ENS Paris-Saclay
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=gBLQ5oIAAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>



                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://iie.fing.edu.uy/~pmuse/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/lorena.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Lorena León
                    </h4>

                    <h6 class="card-text"> Université Grenoble Alpes
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=es&user=RcUb6hUAAAAJ" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://lorena-leon.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/img/lara.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Lara Raad
                    </h4>

                    <h6 class="card-text">Universidad de la República
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=azMZCY4AAAAJ&hl=fr" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>



                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://dev.ipol.im/~lraad/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/juan.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Juan Kamienkowski
                    </h4>

                    <h6 class="card-text"> Universidad de Buenos Aires - CONICET
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=KqoUj1AAAAAJ&hl=es" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/mariela.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Mariela Sued
                    </h4>

                    <h6 class="card-text"> Universidad de San Andrés - CONICET
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=es&user=xxlfprUAAAAJ&view_op=list_works&authuser=1&gmla=AIqSsVtL6oCnmNrRHgbKfi9zB7SzbXDl3prjM-bzlSMnZF7OvMMNm7-O0PL65sYh6eyvjVfaSpEiKp0nrU-kVguDpA6Mols-Cp94PN-b"
                            title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i
                              class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/gaston.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Gastón Castro
                    </h4>

                    <h6 class="card-text"> Universidad de San Andrés - CONICET
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=es&user=RFmMbZoAAAAJ" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/patu.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Pablo Groisman
                    </h4>

                    <h6 class="card-text"> Departamento de Matemática e IMAS, Exactas-UBA
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=0WFtAV0AAAAJ&hl=en" title="GoogleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://mate.dm.uba.ar/~pgroisma/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <br>



    <div class="speakers">
      <h2>Coordinadores Locales</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/chechu.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Cecilia Bolaños</h4>
                    <h6 class="card-text">Universidad de Buenos Aires</h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Google Scholar">
                          <a href="https://scholar.google.com/citations?user=OXwzJWUAAAAJ&hl=en" title="Google Scholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/nico.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Nicolás Gaggion</h4>
                    <h6 class="card-text">Universidad de Buenos Aires</h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Google Scholar">
                          <a href="https://scholar.google.com/citations?user=CnwAbLMAAAAJ&hl=en" title="Google Scholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ngaggion.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/sceriani.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Silvina Ceriani</h4>
                    <h6 class="card-text">Asistente de Organización</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <br>

    <h2>Sponsors</h2>
    <div style="clear: both;"></div>
    <div
      style="display: flex; align-items: center; justify-content: center; gap: 2rem; margin-top: 2rem; flex-wrap: wrap;">
      <a href="https://www.icms.org.uk/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/ICMS-logo.png" width="300px" alt="ICMS Logo">
      </a>
      <!-- <a href="https://machinelearning.apple.com/" target="_blank" rel="noopener noreferrer">
              <img src="/assets/img/apple.jpeg" width="200px" alt="Apple Logo">
            </a> -->
      <a href="https://www.dc.uba.ar/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/logo-dc.png" width="200px" alt="Departamento de Computación UBA">
      </a>
      <a href="https://icc.fcen.uba.ar/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/logo-icc.png" width="200px" alt="Instituto de Ciencias de la Computación UBA-CONICET">
      </a>
      <a href="https://udesa.edu.ar/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/logoudesa.jpg" width="200px" alt="Universidad de San Andrés">
      </a>
      <a href="https://www.hw.ac.uk/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/Heriot.png" width="200px" alt="Heriot-Watt University">
      </a>
      <a href="https://www.cnrs.fr/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/LOGO_CNRS_BLEU.png" width="150px" alt="CNRS">
      </a>
    </div>
    <div
      style="display: flex; align-items: center; justify-content: center; margin-top: 2rem; gap: 2rem; flex-wrap: wrap;">




      <a href="https://www.univ-grenoble-alpes.fr/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/UGA.jpg" width="150px" alt="CNRS">
      </a>

      <!-- <a href="https://inria.fr/" target="_blank" rel="noopener noreferrer">
              <img src="/assets/img/inria.jpeg" width="200px" alt="Inria">
            </a> -->
      <a href="https://exactas.uba.ar/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/Uba_exactas_logo.png" width="150px" alt="Exactas UBA">
      </a>
      <a href="https://liaa.dc.uba.ar/es/inicio/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/liaa-logo.png" width="200px" alt="LIAA">
      </a>
    </div>


    <br><br><br>


    <h3 class="post-title"><span class="font-weight-bold">Preguntas</span></h3>
    Escribinos a <a href="mailto:escuelaprimavera.dl@gmail.com" target="_blank">
      escuelaprimavera.dl@gmail.com</a>.

  </article>

</div>