---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}Escuela de Verano en Deep Learning Buenos Aires 2025 <br>
      <span class="font-weight-bold">Escuela de Verano en Deep Learning Buenos Aires 2025</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>


    <div class="clearfix">
      <p>

        Descripción acá


      <!-- <p>We invite researcher in machine learning, control, and dynamical systems to submit their latest works to our workshop. <br> -->
        Se presentarán tutoriales en los siguientes temas:</p>
      <ul>
        <li> Inference and generative methods for graphs, time series, text, video, and other structured modalities </li>
        <li> Scaling and accelerating inference and generative models on structured data </li>
        <li> Uncertainty quantification in AI systems </li>
        <li> Applications in decision making, sampling, optimization, generative models, inference </li>
        <li> Applications and practical implementations of existing methods to areas in science </li>
        <li> Empirical analysis comparing different architectures for a given data modality and application </li>
      </ul>

    </div>


    <div class="speakers">
      <h2>Conferencistas confirmados</h2>
      <p class="card-text">
      </p>
      <div class="grid">



        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/yingzhen-800x800.jpeg"
              srcset="    /assets/resized/yingzhen-480x480.jpeg 480w,    /assets/resized/yingzhen-800x800.jpeg 800w, /assets/resized/yingzhen-1400x1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Luciana Ferrer</h2>
              <h6 class="card-text">Universidad de Buenos Aires - CONICET
                <div class="affiliate">

                  <a href="https://scholar.google.com.ar/citations?user=s3CmNoEAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://liaa.dc.uba.ar/luciana-ferrer/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/molei-v2-800x800.jpeg"
              srcset="    /assets/resized/molei-v2-480x480.jpeg 480w,    /assets/resized/molei-v2-800x800.jpeg 800w, /assets/resized/molei-v2-1400x1400.jpeg 1400w, /assets/img/molei-v2.jpeg 349w">

            <div class="card-body">
              <h2 class="card-title">Victoria Peterson</h2>
              <h6 class="card-text"> Universidad Nacional del Litoral - CONICET
                <div class="affiliate">

                  <a href="https://scholar.google.com/citations?user=vCuSUEIAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://sites.google.com/view/victoria-peterson/home/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>


    <div class="speakers">
      <h2>Organizadores</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/resized/dinghuai-480x360.jpeg"
                    srcset="/assets/resized/dinghuai-480x360.jpeg 480w, /assets/resized/dinghuai-800x600.jpeg 800w, /assets/resized/dinghuai-1400x1050.jpeg 1400w, /assets/img/dinghuai.jpeg 256w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Marcelo Pereyra
                    </h4>

                    <h6 class="card-text"> Heriot-Watt University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.co.uk/citations?user=ep85sxQAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.macs.hw.ac.uk/~mp71/index.html" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/yuanqi-480x360.jpeg"
                    srcset="/assets/resized/yuanqi-480x360.jpeg 480w, /assets/resized/yuanqi-800x600.jpeg 800w, /assets/resized/yuanqi-1400x1050.jpeg 1400w">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Julián Tachella
                    </h4>

                    <h6 class="card-text">ENS Lyon - CNRS
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=u_hH-fUAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://tachella.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/guan-480x360.jpg"
                  srcset="/assets/resized/guan-480x360.jpg 480w, /assets/resized/guan-800x600.jpg 800w, /assets/resized/guan-1400x1050.jpg 1400w, /assets/img/guan.jpg 666w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Enzo Ferrante
                    </h4>

                    <h6 class="card-text"> Universidad de Buenos Aires - CONICET
                    </h6>

                    <div class="row ml-1 mr-1 p-0">
                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=ArqlkTUAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://eferrante.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/kirill-v3.jpeg"
                    srcset="/assets/resized/kirill-v3-480x360.jpeg 480w, /assets/resized/kirill-v3-800x600.jpeg 800w, /assets/resized/kirill-v3-1400x1050.jpeg 1400w, /assets/img/kirill-v3.jpeg 727w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Pablo Musé
                    </h4>

                    <h6 class="card-text">Universidad de la República 
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=gBLQ5oIAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://iie.fing.edu.uy/~pmuse/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>

    <h2>Sponsors</h2>
    <img src="/assets/img/genesis-logo-full.png" width="25%" >
    <br><br><br>

    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href="mailto:verano-ml2025@gmail.com" target="_blank">verano-ml2025@gmail.com</a>.

  </article>

</div>